# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Editor and backup files
*~
.*~
*.bak
*.bak[0-9][0-9]
*.orig
*.orig[0-9][0-9]
\#*\#

# Corefiles
#core

CMakeUserPresets.json


# ----------------------------------------------------------- #
#                 MGLET specials below                        #
# ----------------------------------------------------------- #

# Intel compiler optimization reports
*.optrpt

# Compiled binaries
mglet

# Build folder(s)
build*

**/tmp.F90

# MGLET (Particle) Test Output
#**/tests/**
*.OUT
**/LOGS/*
snapshots.h5
probes.h5
mglet-perf-report*
ParticleList*
**/Particle_Snapshots/**
*.vtp
*.pvtp

# Nsight Profiling Output Files
*.qdstrm
*.nsys-rep
*.sqlite
